* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Nunito Sans", sans-serif;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ffffff;
  height: 1.5rem;
  margin-top: 1rem;
}
a {
  text-decoration: none;
  color: black;
  font-size: xx-large;
}
.main-body-home {
  color: #ec4d37;
  font-size: 2rem;
  margin-top: 3rem;

  display: flex;
  padding: 1rem;
  background-color: #e0e5ea;
}

.home-image {
  height: 30rem;
  border-radius: 20rem;
  margin-top: 2rem;
}
.main-text {
  margin-top: 5rem;
  background: none;
}
.main-text-2 {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  font-size: 1.8rem;
  /* color: #042657; */
}

@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Sniglet", cursive;
}
h1 {
  font-weight: normal;
  font-size: 4em;
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
  margin-top: 30px;
  width: 500px;
  color: #ec4d37;
  text-align: center;
}

header {
  height: 160px;
  background: url("http://www.geertjanhendriks.nl/codepen/form/golf.png")
    repeat-x bottom;
}

#form {
  height: 100%;
  background-color: #e0e5ea;
  overflow: hidden;
  position: relative;
  margin-bottom: 2rem;
  top: 3rem;
}
form {
  margin: 0 auto;
  width: 500px;
  padding-top: 40px;
  color: #ec4d37;
  position: relative;
}
label,
input,
textarea {
  display: block;
}
input,
textarea {
  width: 500px;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  font-family: "Sniglet", cursive;
  font-size: 1em;
  color: #676767;

  border: solid 3px #98d4f3;

  box-sizing: border-box;
}
input:focus,
textarea:focus {
  border: solid #ec4d37;
}

textarea {
  height: 100px;
  resize: none;
  overflow: auto;
}
input[type="submit"] {
  background-color: #ec4d37;
  color: black;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 1.29em;
  font-family: "Sniglet", cursive;
}
input[type="submit"]:hover {
  background-color: #ec4d37;
}
label {
  font-size: 1.5em;
  margin-top: 20px;
  padding-left: 20px;
}

.about-text {
  font-size: 3.5rem;
  margin-top: 4rem;
  background-color: #e0e5ea;
  padding: 5rem;
  color: #ec4d37;
  text-align: center;
}
.aditya-image {
  height: 10rem;
  border-radius: 30%;
}
.image-class {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 4rem;
}
.social-media {
  color: #ec4d37;
  background-color: #e0e5ea;
}
.logo {
  height: 4rem;
}

logo-class {
  display: flex;
  justify-content: space-between;
}
logo-list {
  float: right;
}
ul {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  list-style: none;
}
.heading-skills {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 3.5rem;
  /* position: relative; */
  /* top: 5rem; */
  font-size: 4rem;
  background-color: #e0e5ea;
  width: 100%;
  padding: 3.5rem;
}
.table {
  border: 2px solid black;

  display: flex;
  justify-content: center;
  width: 850px;
  margin-top: 3rem;
}
.skill-setting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  justify-content: space-around;

  margin-top: 2rem;
  align-items: center;
  font-size: 1.5rem;
}

.td {
  margin-right: 6.8rem;
}
table {
  border-collapse: collapse;
  width: 100%;
  background-color: #e0e5ea;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table th {
  color: #ec4d37;
  font-size: 2rem;
}

.table-1 th {
  background-color: #f2f2f2;
}

.table-1 td {
  font-weight: bold;
}

.table-1 {
  margin-right: -5rem;
}
.video {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  font-size: 3rem;
  margin-top: 2rem;
  background-color: #e0e5ea;
  padding: 3rem;
}

.yt-video {
  display: flex;
  justify-content: center;
}
